.hero {
    width: 100%;
    padding-top: 7.4em;
    padding-bottom: 4em;
    text-align: center;
    background: url("../images/bg-hero-mobile.svg");
    background-color: $veryPaleCyan;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    section {
        width: 100%;
        max-width: 90rem;
    }
    .hero-left_container {
        margin: 0 0 2em 0;
        h1 {
            font-size: 1.6rem;
            text-transform: capitalize;
            color: $veryDarkCyan;
        }
        p {
            color: #010101;
            margin: 1.6em 0;
            font-size: 1rem;
            line-height: 2.5rem;
            text-transform: capitalize;
            font-family: inherit;
        }
    }
    .hero-right_container {
        width: 100%;
        padding: 1em ;
        img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}
